.slogan-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 65px 0px 50px 65px;

  background-color: #d9d9d9;
}

.left-part {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-part {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.slogan-main-text {
  font-size: 60px;
}

.statistics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statistic-line {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  width: calc(100% - 80px);
}
