.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 65px 60px 65px;
}

.left-part {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.right-part {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.name {
  padding: 0px 65px 40px 65px;
  font-size: 40px;
  text-align: center;
}

.btn {
  text-decoration: none;
  padding: 20px 56px;
  background-color: #d9d9d9;
  border-radius: 25px;
  height: max-content;
  color: black;
}

.btn:hover {
  background-color: #b7b7b7;
}
