.header {
  display: flex;
  gap: 15px;

  background-color: #d9d9d9;
  /* height: 30px; */

  padding: 15px 48px;
  line-height: 28px;

  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav-area {
  display: flex;
  gap: 50px;
}

.logo {
  width: 28px;
  height: 28px;
  /* border-radius: 50%; */
}

.logo-wrapper {
  display: flex;
  gap: 17px;

  pointer-events: none;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: black;
  text-decoration: none;
}

.underline {
  width: 0px;
  height: 2px;
  background-color: black;

  transition: 150ms;
}

.link-wrapper:not(.navigated):hover .underline {
  width: 100%;
}

.link-wrapper.navigated .underline {
  width: 100%;
}

.search-area {
  max-height: 30px;
  flex: 1;

  display: flex;
  gap: 10px;
}

.search-icon {
  width: 23px;
  height: 25px;
  /* display: none; */
  transform: translateY(2px);
}

.input {
  background-color: transparent;
  border: none;

  border-bottom: 2px solid #0007;

  font-size: 20px;
  height: 30px;
  padding: 0;

  transition: 150ms;
}

.input:focus {
  outline: none;
  border-color: #000f;
  border-width: 2px;
}

.input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.account-area {
  display: flex;
  gap: 20px;

  max-height: 30px;
}

.account-area a:hover {
  color: #505050;
}

.account-area img:hover {
  filter: brightness(1.9);
}
